aiohttp==3.9.3
Babel==2.14.0
beautifulsoup4==4.12.3
cryptography==42.0.2
google-api-core==2.16.2
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-cloud-bigquery==3.17.1
googleapis-common-protos==1.62.0
gspread==6.0.0
jupyter==1.0.0
MarkupSafe==2.1.4
matplotlib-inline==0.1.6
mistune==3.0.2
multidict==6.0.5
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
notebook==7.0.7
numpy==1.26.3
oauth2client==4.1.3
pandas==2.2.0
pillow==10.2.0
requests==2.31.0
selenium==4.17.2
gspread_dataframe==3.3.1
